.app-btn_gerenic {
  border-radius: 5px;
  border: none;

  font-family: $nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.orange {
    background-color: $orange;
    color: #fff;
  }

  &.block{
    width: 88%;
    max-width: 380px;
    min-height: 45px;
    margin: 0 auto;

  }

  &.success {
    background-color: $success;
    color: #fff;

    &:disabled {
      background-color: $success-dark;
      color: $with;
    }
  }

  &.alig-end{
    align-self: flex-end;
  }

  &.blue {
    background-color: $blue-primario;
    color: $with;
    
    &:disabled {
      background-color: $blue-dark
    }
  }

  &.size-md {
    width: 302px;
    height: 57px;
    margin: 18px auto 0;
  }
}


.add-player-btn {
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 10px;
  background-color: $blue-primario;
  
  font-family: $nunito;
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 20%;

  &:disabled {
    background-color: $gris-disabled ;
  }
}