@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

$nunito: 'Nunito', sans-serif;

$with: #E2E0E0;

$gris-primario: #3F454E;
$gris-lighter: #979797;
$gris-disabled: #B0B0B0;
$gris-tint:FB443B #EDEDED;



$blue-primario: #38B3E0;
$blue-dark:#2D87A8;

$orange: #FD7D39;

$success: #84E052;
$success-dark: #74c548;

$alert: #FB443B;

